.sidebar {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--color-bg);
    overflow-x: hidden;
    padding-top: 28px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .splitbody{
    margin-left: 70px; /* Same as the width of the sidenav */
    font-size: 16px; /* Increased text to enable scrolling */
    padding: 0px 0px 0px 40px;
    
  }

  .top-padding{
    padding-top: 30px;
  }

  .bg-color{
    background-color: #fff;
  }

  .split_body-content{
    display: flex;
    flex-direction: column;
  }

  .social-icons{
    color: var(--color-light-gray);
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .social-icons p{
    font-size: 12px;
  }

  .splitbody-header{
    display:flex;
    justify-content:space-between;
  }

  .splitbody-header h1{
    font-size: 25px;
    color: var(--color-gray);
  }

  .splitbody-header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: var(--color-light-gray);
  }

  .split-row{
    display: flex;
    justify-content: space-between;
    height:100vh;

  }

  .split-scol2{
    width: 45%
    /* width: 500px; */
  }

  .split-bcol2{
    width: 53%;
    height:150vh;
  }