/*.thumb-slider {
  width: 300px;  Adjust width as needed */
  /* margin: 20px;
  position: relative;
} */

/* .thumb-slider input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  background: #d3d3d3;
  height: 8px;
  border-radius: 5px;
  outline: none;
  margin-top: 20px;

  padding:0 ;
}

.thumb-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--color-faded-purple) ;
  border: solid var(--color-dark-purple) 1px;
  cursor: pointer;
  position: relative;
}

.slider-value {
  position: absolute;
  top: -30px;
  display: block;
  text-align: center;
  width: 30px;
} */






.thumb-slider {
  position: relative;
  width: 300px;
}

input[type='range'] {
  width: 100%;
  appearance: none;
  height: 14px;
  border-radius: 10px;
  background: linear-gradient(to right, var(--color-dark-purple) 50%, #d3d3d3 50%);
  outline: none;
  transition: background 0.3s;
  padding: 0;
}

input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--color-faded-purple);
  border: var(--color-dark-purple) 1px solid;
  cursor: pointer;
  transition: background 0.3s;
}

input[type='range']::-moz-range-thumb {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--color-faded-purple);
  border: var(--color-dark-purple) 1px solid;
  cursor: pointer;
  transition: background 0.3s;
}

.slider-value {
  position: absolute;
  top: 0px;
  font-size: 12px;
  /* background: #fff;
  border: 1px solid #ddd; */
  padding: 2px 5px;
  border-radius: 3px;
  transform: translateX(-50%);
}
